*{
    margin: 0px;
    /* padding: 0px; */
}
body{
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;;
}
nav{
    background-color: black;
    height: 10vh;
    width: 100%;
}

.log{
    text-align: center;
    margin-top: 5rem;
}

h1{
font-size: 20px;
}

.first{
    height:300px;
    padding: 40px;
    border-right: 3px solid red;
    position: absolute;
    left: 45%;
    top: 20px;
}

.butt{
    background-color: #d41c2c;
    height: 10vh;
    margin-left: 100px;
    padding: 0% 50px;
}

.container{
    padding-bottom:200px ;
    position: relative;
    justify-content: space-between;
    background-color: #ffffff;
    margin-top: 200px;
}

.pass{
    margin-top:100px ;
}

.join-now{
    font-size: 20px;
}