*{
    margin: 0px;
    /* padding: 0px; */
}
body{
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif;;
}
nav{
    background-color: black;
    height: 10vh;
    width: 100%;
}

.butt  a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.log{
    text-align: center;
    margin-top: 3rem;
}

 h1{
     font-size: 3rem;
     font-family: Emirates-Bold,Helvetica,Arial,Lucida Grande,sans-serif;
}

                             /* SECTION 2 */
.section-2{
    width: 70%;
    margin: auto;
    /* margin-top: 20px; */
 }
 
 .container{
     padding-bottom:50px ;
     position: relative;
     justify-content: space-between;
     /* background-color: #ffffff; */
     margin-top: 200px;
 }
 .form-control:hover{
        box-shadow: 1px, 2px, 1px, 1px;
 }

 .link{
    color: #d41c2c;
 }
.but{
    padding: 3px 165px;
    background-color: #d41c2c;
    border: #d41c2c solid 1px;

}
.but > a{
    /* border: green 1px solid; */
    /* display: block; */
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.first{
    height:300px;
    padding: 40px;
    border-right: 3px solid red;
    position: absolute;
    left: 45%;
    top: 20px;
}

.butt{
    background-color: #d41c2c;
    height: 10vh;
    margin-left: 100px;
    padding: 0% 50px;
}


.pass{
    margin-top:50px ;
    line-height: 50px;
}

.join-now{
    font-size: 20px;
    margin: 40px;
    margin-top: 8rem;
    text-align:left;
    border: solid red 1px;
    margin-right: rem;
    line-height: 100px;
}
h3{
    font-weight: 600;
}
h5 a{
    color:#343434
}
.btn{
    padding: 5px 165px;
}

 /* FOOTER */

 .section-3{
    background-color: #343434;
    width: 100%;
    padding-top: 50px;
}

.section-3a{
    justify-content: space-around;
    display: inline-flex;
    border: 1px solid none;
    width: 80%;
    /* margin: auto; */
}

p{
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: extra-expanded;
}


.section-3a, li, a{
    color: white;
    list-style-type: none;
    text-decoration: none;

}
.section-3a li a:hover{
    text-decoration: underline;

}


