body{
    overflow-x:hidden;
}

.first{
    align-items: center;
}

.para{   
    margin-left: 100px;
}
.anchor:hover{
    background-color: rgba(144, 144, 215, 0.775);
}

.second{
    /* display: flex; */
    position: relative;
    justify-content: space-around;
    background-color: rgba(17, 16, 16, 0.863);
    height: 60px;
}

.img{
    background: #d41c2c;
    border: 2px solid red;
    height: 120px;
    width:80px;
    position: absolute;
    top: 0px;
    left: 102px;
   
}

span {
    margin: 15px;   
    font-size: small;
}

span a{
    color:white;
    font-weight: 600;
    font-size:  14px ;
    text-decoration: none ;
}
span a:hover{
    box-shadow: 0px 1px 2px .5px gray;
}
.section-1{
    background: url(/emirateimages/FEEDBACKview-of-dubai-canal-at-sunset-pb-w1920x480.avif);
    background-position: center;
    background-size: cover;

}
.bgimg{
    height: 75vh;
    border: solid 1px gray;
    position: relative;
    /* z-index: -1; */
}



/* .bgimg::before{
    content:"";
    position:absolute;
    height: 75vh;
    background:linear-gradientrgba((0, 0, 0, 0); url()
 } */

.fly-emirate{
    position: absolute;
    top:10px;
    left:1500px;
 }

 .child-2{
    margin-left: 150px;
 }

.word{
    position: absolute;
    top:150px;
    left: 100px;
    color: white;
    font-family: Heroic-Medium, Arial Narrow Bold, Franklin Gothic Medium, Franklin Gothic,
     Arial Narrow, HelveticaNeue, Helvetica, arial, sans-serif;
     font-stretch: extra-condensed;
     transform: rotate(0deg) scale(1) skew(357deg) translate(0);

}
h1{
    margin:0px;
    font-size: 100px;
    font-stretch: condensed ;    
}

.discover{
    font-size: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pass{
    font-size: 10px;
}

/* CONTAINER STAGE */

.container{
    position: relative;
    top:-65px;
    height:40vh;
}


.col:hover{
    box-shadow: 2px 2px .9px silver;
}

.new{
   
    background-color: rgba(128, 128, 128, 0.148);
}

                /* FLEX STAGE */
.parent{
    display: flex; 
    width: 100%;
    margin: auto;
    margin-top:150px; 
    
}

.child{
    border: solid 1px silver;
    height: 120px;
    width: 180px;
    position: relative;
    gap:0.3px;
}

.child-y:hover{
    border-bottom: solid 2px red;
}

.child a{
    border: 1px solid none;
    font-family: 'Times New Roman', Times, serif;
    color: gray;
}

.child-a{
    position: absolute;
    top: 25px;
    left: 15px;
    
}
.child i{
    font-size: 30px;
}

 /* FEATURE DESTINATION FROM NIGERIA USING DISPLAY:GRID  */

 .parent-2{
    /* border: 3px solid green; */
    margin-right: 110px;
    width: 90%;
    margin: auto;
    margin-top: 200px;
 }

.destination{
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    margin-top: 40px;
    
}

.features{
    border: 1px solid silver;
    height: 400px;
    width:650px;
    margin-left: 100px;
    text-align: center;
}


.features p, h4 h6{
    margin-top: 50px;
}

.features:hover{
    box-shadow: 1px 1px 4px 2px silver;
}
img:hover{
    box-shadow: 1px 1px 4px 2px silver;

}

.butt{
    margin-left: 660px;
    gap: 100px;
}

button{
    padding: 10px 70px;
    border-radius: 5px;
    background-color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

                        /* SECOND BACKGROUND IMAGE */

.parent-3{
    background: url(/emirateimages/firsthappy-families-water-slidding-in-aqua-park-hp-w1920x480.webp);
    background-image: linear-gradient(rgba( 2px, 3px, 5px, 0.4), rgba(2px, 4px, 1px, 0.4 ));
    height: 75vh;
    margin-top: 2rem;
    background-position: center;
    background-size: cover;
    color: white;
    border: solid 0.1px transparent;
    position: relative;
}

/* .parent-3::before{
    content: "";
    position: absolute;
    background-image: url(/emirateimages/firsthappy-families-water-slidding-in-aqua-park-hp-w1920x480.webp);
    background-image: linear-gradient(to right, rgba(0,0,0,.1)) to rgba(1, 2, 3, 0.5);
}    */


.summer-offer{
    text-align: center;
    margin-top: 70px;
}
                    /* MID_POINT */

.mid-point{
    text-align: center;
    margin-top: 50px;
}

            /* GRID LEVEL FOR DISHES */

.grid-level{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat(2, 270px);
    width: 100%;
    /* margin: auto; */
    gap: 10px;
    margin-top: 70px;
    margin-left: 400px;
    border: #d41c2c solid 1px;
}

hr{
    color: white;
    margin-left: 100px;
    
}

.level-1{
    grid-column: 1/3;
    grid-row: 1/3 ;
    background: url(../emirateimages/dubai-downtown-skyline-at-sunset-d800x600\ \(1\).jpg);
    background-position:top;
    background-size:center;
}

.level-2{
    background: url(../emirateimages/first-class-dessert-w800x600\ \(1\).jpg);
    background-position: center;
    background-size: cover;
    /* margin-top: 50px; */
}

.level-3{
    background: url(../emirateimages/business-class-meal-w800x600.jpg);
    background-position: center;
    background-size: cover;
    /* text-align: center; */

}

.level-4{
    background: url(../emirateimages/premium-economy-menu-w800x600.jpg);
    background-position: center;
    background-size:150%;
    /* background-repeat: no-repeat; */
}

.level-5{
    background: url(../emirateimages/economy-class-chocolate-dessert-w800x600.jpg);
    background-position: center;
    background-size: cover;
}

/* .learn-more{
    margin-top: 50px;
    text-align: center;
} */

@media screen {
    
}

.dishes{
    border: solid 1px silver;
    border-radius: 3px;
}

.dishes:hover{
    box-shadow: -1px -2px 3px 2px silver;
}


                /* SECTION % */
.section-5{
    text-align:center;
    margin-top: 100px;
}
.section5a{
    display: flex;
   
    margin-left: 600px;
    border: #d41c2c solid 1px;
    gap: 20px;
}
.circum a{
    border: #d41c2c solid 1px;
    color: black;
}
.circle{
    width: 200px;
    aspect-ratio: 1;
    border-radius: 50%;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin-top: 30px;
    font-weight: 500;
}


/* .circle{
    display: flex;
    border: red none 1px;
    height: 9rem;
    width: 9rem;
    margin: 15px;
    border-radius: 50%;
    margin-top: 70px;
}
.circle:hover{
    transform: rotate(360deg);
    transition: all 0.3s;
} */

/* .business{
    background: url(../emirateimages/businesscirclea380-sky-view-w300x300.avif);
    background-position: center;
    background-size: cover;
}
.planet{
    background: url(../emirateimages/ourplanetcirclesunlight-baths-the-blyde-river-canyon-w300x300.avif);
    background-position: center;
    background-size: cover;
}
.people{
    background: url(../emirateimages/ourpeoplecircleemirates-group-staff-group-photo-m300x300.avif);
    background-position: center;
    background-size: cover;
}
.communities{
    background: url(../emirateimages/ourcommunityfamily-planting-tree-w300x300.avif);
    background-position: center;
    background-size: cover;
} */

/* .section5a a{
    margin-top: 200px;
    display: block;
} */

/* .our a{
    margin: 60px;
    color:black;
    font-weight: 600;
    border: 1px solid red;
} */

                    /* FOOTER */

.section-6{
    background-color: #343434;
    width: 100%;
    padding-top: 50px;
}

.section-6a{
    justify-content: space-around;
    display: inline-flex;
    border: 1px solid none;
    width: 80%;
    /* margin: auto; */
}

p{
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-stretch: extra-expanded;
}


.section-6a, li, a{
    color: white;
    list-style-type: none;
    text-decoration: none;

}
.section-6a li a:hover{
    text-decoration: underline;

}

















 /* .destination{
    border: solid 1px red;
    height:100vh;
    padding: .5rem;
    display:grid;
    margin-top: 120px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,100px);
    gap: 10px;
 }

 .features{
    border: 1px solid red;
   
 } */

 /* .child-h{
    grid-column: 1/2;
    grid-row: 1/2;
    
 }
 .child-i{
    grid-column: 3/5;
 }
 */

 







/* .form-floating{
    margin-bottom: 50px;
} */
/* .dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-btn{
    padding: 20px 60px;
    background-color: cadetblue;
}

.dropdown-items{
    position: absolute;
    padding: 10px;
    min-width: 160px;
}

.dropdown-items a:hover {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  } */

/* ul{
    list-style: none;
    display: flex;
}

ul li{
    margin: 5px;
    text-decoration: none;
    position: relative;
}
ul li a{
    padding: 20px 50px;
    text-decoration: none;
    color:orangered;
}

ul li ul.dropdown{
    position: absolute;
    display: none;
} */

/* ul li a:hover{
   
} */

/* ul li:hover .dropdown{
    display:block;
} */



/* To create a master/main on git
git branch "name"
git check out "name"

*/